<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pushups">

    <application
        android:allowBackup="true"
        android:icon="@drawable/push_up"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PushUps">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Challenge"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />


</manifest>